<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.wakirox.rainy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.WillRainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.WillRain">
        <activity
            android:name=".ComposeMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WillRain">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/pub_app_id" />

<!--        <receiver-->
<!--            android:name=".widget.WaterWidgetReceiver"-->
<!--            android:enabled="@bool/glance_appwidget_available"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/water_widget_info" />-->
<!--        </receiver>-->

        <receiver
            android:name=".widget.WillRainWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/will_rain_widget_info" />
        </receiver> <!-- <activity -->
        <!-- android:name=".SearchableActivity" -->
        <!-- android:launchMode="singleTop"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SEARCH" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.searchable" -->
        <!-- android:resource="@xml/searchable_city" /> -->
        <!-- </activity> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|adjustResize">

            <!-- <meta-data -->
            <!-- android:name="android.app.default_searchable" -->
            <!-- android:value=".SearchableActivity" /> -->

                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>
    </application>

</manifest>